DB_USER=  # Usuario de la base de datos
DB_PASSWORD=  # Contraseña de la base de datos
DB_NAME=  # Nombre de la base de datos
DB_PORT=  #puerto por defecto 5432
DB_HOST=  # Nombre del servicio en docker-compose.yml

# URL de Prisma (usando las variables anteriores)
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"
PASSWORD_SEED = 